<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="../css/jamiekarlovich.css" />
  <title>Jamie Karlovich - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Jamie Karlovich"
</head>
<body>
  <<header>
    <h1>Jamie Karlovich</h1>
    <nav>
      <ul>
        <li><a href="../home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="dance/performance.html">Performance</a></li>
        <li><a href="dance/teaching.html">Teaching</a></li>
        <li><a href="dance/choreography.html">Choreography</a></li>
        <!----------------------------------------------
        <li><a href="webdesign.html">Web Design</a></li>
        <li><a href="styling.html">Styling</a></li>
        ------------------------------------------------>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div id="content">
    <div id="photoright">
    </div>
    <div id="textleft">
      <p>Born and raised in Redmond, Washington, Jamie Karlovich graduated summa cum laude with a BFA in dance from Cornish College of the Arts in May of 2006.  At Cornish, Jamie got the chance to work with Wade Madsen, Deborah Wolf, Jason Ohlberg, Mary Sheldon Scott, Tonya Lockyer, Pat Hon, Lodi McClellen, Terry Sparks, Mark Haim, and Sonya Dawkins.  She was a soloist in many pieces including a suite from Jose Limon&#39s &#34A Choreographic Offering&#34 as well as Martha Graham&#39s &#34Diversion of Angels&#34 in which she played the role of the red woman.  She received the Merce Cunningham Scholarship, multiple Dance Department Scholarships, and was on the Cornish College of the Arts President&#39s List.
      </p>

      <p>Jamie is currently a member of Badmarmar Dance under the direction of Marlo Martin.  She has also performed with Wade Madsen and Dancers, Markeith Wiley&#39s The New Animals, Redd Legg Dance, Dance Contemporary, Lehua Dance Theatre, Interweave Dance Theatre, the professional company associated with the Boulder Jazz Dance Workshop, and has been invited and participated in River North Chicago&#39s summer dance intensive.  She has also choreographed works for 12 Minutes Max, Evoke Productions&#39 Full Tilt, Dance Contemporary, Cornish Dance Theater, Chop Shop, and Men in Dance.
      </p>

      <p>Jamie has been teaching dance to children and adults since high school.  She has taught at many local family studios as well as guest taught at local high schools.  Jamie has been teaching and choreographing for Cornish College of the Arts since Spring 2014.
      </p>

    </div>
  </div>
  <footer>
    <h4><a href="mailto:jamierkarlovich@gmail.com">jamie@jamiekarlovich.com</a></h4>
  </footer>
</body>
</html>
