<!DOCTYPE html>
<html id="web">
<head>
  <title>Jamie Karlovich - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Jamie Karlovich">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <div class="stickyfooter">
  <div>
    <header>
      <h1>Jamie Karlovich</h1>
      <nav>
        <ul>
          <li><a href="../home.html">Home</a></li>
          <li><a href="dance.html">Dance</a></li>
          <li><a href="design.html">Design</a></li>
          <li><a href="web.html" class="here">Web</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="qualifications">
    <div class="qtop">
      <div class="webStory">
        <p>Being exposed to tech through my boyfriend and family, I wanted to learn how to build things on the web.  Logical and analytical thinking has always come naturally to me and, to my excitment, I found these skills applied to writing code.  Couple that with my creativity and practice in thinking outside the box, this field is the best of both worlds.  I lose all track of time when coding, trying to find solutions to problems and make them both elegant and intuitive to use and view.
        </p>
      </div>
      <div class="technologies">
        <h4>Technologies: </h4>
          <ul>
            <li>Angular</li>
            <li>React</li>
            <li>Javascript / Jquery</li>
            <li>Express and Node</li>
            <li>Ruby on Rails</li>
          </ul>
      </div>
    </div>
    <div class="qbottom">
      <div class="info">
        <h4><a href="../resumes/WebDeveloperResume.pdf" target="_blank">Resume(Pdf)</a></h4>
        <h4><a href="../resumes/WebDeveloperResume.txt" download="JamieKarlovichResumeTxt">Resume(Txt-Download)</a></h4>
        <h4><a href="https://github.com/jkarlovich" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></h4>
        <h4><a href="https://www.linkedin.com/in/jamie-karlovich-8b1a0011a?trk=hp-identity-name" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></h4>
        <h4><a href="mailto:jamierkarlovich@gmail.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i> jamierkarlovich@gmail.com</a></h4>
      </div>
      <div class="experience">
        <h4>Experience:</h4>
        <ul>
          <li>General Assembly - Full-Stack Web Development Immersive</li>
          <li>One Front End and Three Full-Stack Applications</li>
          <li>Built Websites for Family and Friends</li>
        </ul>
      </div>
  </div>
</div>
  <div class="content">
    <div class="portfolio">
      <div class="project-row">
        <div class="project">
          <a href="http://jkarlovich.github.io/2048/" target="_blank">
            <div class="screenshot" id="twenty">
                <i class="fa fa-info-circle" id="c1" aria-hidden="true"></i>
                <div id="o1">
                  <h2 class="show">2048</h2>
                  <!-- <div class="links">
                    <h4><a href="http://jkarlovich.github.io/2048/" target="_blank">Repo and Site</a></h4>
                  </div> -->
                  <p class="show">Recreated the game 2048.</p>
                  <h4 class="show">Javascript <i class="fa fa-circle" aria-hidden="true"></i> Jquery <i class="fa fa-circle" aria-hidden="true"></i> HTML <i class="fa fa-circle" aria-hidden="true"></i> CSS</h4>
                  <i id="close1"class="fa fa-times-circle show" aria-hidden="true"></i>
                </div>
              </a>
            </div>


        </div>
        <div class="project">
          <a href="https://nightynight.herokuapp.com/" target="_blank">
            <div class="screenshot" id="onTheTown">
              <i class="fa fa-info-circle" id="c2" aria-hidden="true"></i>
              <div id="o2">
                <h2 class="show">OnTheTown</h2>
                <!-- <div class="links"> -->
                  <!-- <h4><a href="https://github.com/jkarlovich/NightyNight" target="_blank">Repo</a></h4> -->
                  <!-- <h4><a href="https://nightynight.herokuapp.com/" target="_blank">Site</a></h4> -->
                <!-- </div> -->
                <p class="show">Use this app to search for events by keyword and find restaurants nearby.  Link to a page where you can purchase tickets and save your events to your profile.</p>
                <h6 class="show">Sample Login</h6>
                <h6 class="show"> User Name: guest@gmail.com Password: password</h6>
                <h4 class="show">Javascript <i class="fa fa-circle" aria-hidden="true"></i> Jquery <i class="fa fa-circle" aria-hidden="true"></i> Express <i class="fa fa-circle" aria-hidden="true"></i> Passport <i class="fa fa-circle" aria-hidden="true"></i> Postgres <i class="fa fa-circle" aria-hidden="true"></i> Sequelize <i class="fa fa-circle" aria-hidden="true"></i> Eventful Api <i class="fa fa-circle" aria-hidden="true"></i> Google Maps and Places APIs
                </h4>
                <i id="close2"class="fa fa-times-circle show" aria-hidden="true"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="project-row">
        <div class="project">
          <a href="https://comingup.herokuapp.com/" target="_blank" class="url-link">
            <div class="screenshot" id="comingUp">
              <i class="fa fa-info-circle" id="c3" aria-hidden="true"></i>
              <div id="o3">
                <h2 class="show">comingUp</h2>
                <!-- <div class="links">
                  <h4><a href="https://github.com/jkarlovich/comingUp" target="_blank">Repo</a></h4>
                  <h4><a href="https://comingup.herokuapp.com/" target="_blank">Site</a></h4>
                </div> -->
                <p class="show">A group made app to streamline General Assembly's outcomes deliverables</p>
                  <h6 class="show">Sample Logins</h6>
                  <h6 class="show">Student: student@gmail.com Password: password</h6>
                  <h6 class="show">Admin: admin@gmail.com Password: password</h6>
                <h4 class="show">Ruby on Rails <i class="fa fa-circle" aria-hidden="true"></i> Postgres <i class="fa fa-circle" aria-hidden="true"></i> Sequelize <i class="fa fa-circle" aria-hidden="true"></i> Boostrap <i class="fa fa-circle" aria-hidden="true"></i> SCSS <i class="fa fa-circle" aria-hidden="true"></i> Javascript <i class="fa fa-circle" aria-hidden="true"></i> JQuery <i class="fa fa-circle" aria-hidden="true"></i> MeetUp API
                </h4>
                <i id="close3"class="fa fa-times-circle show" aria-hidden="true"></i>
            </div>
          </div>
        </a>
      </div>


        <div class="project">
          <a href="https://wikiwhat.herokuapp.com/" target="_blank">
              <div class="screenshot" id="wikiwhat">
                <i class="fa fa-info-circle" id="c4" aria-hidden="true"></i>
                <div id="o4">
                  <h2 class="show">WikiWhat</h2>
                  <!-- <div class="links">
                    <h4><a href="https://github.com/jkarlovich/WikiWhat">Repo</a></h4>
                    <h4><a href="https://wikiwhat.herokuapp.com/">Site</a></h4>
                  </div> -->
                  <p class="show">An app to compare Wikipedia revisions.</p>
                  <h4 class="show">Express <i class="fa fa-circle" aria-hidden="true"></i> Angular <i class="fa fa-circle" aria-hidden="true"></i> Node <i class="fa fa-circle" aria-hidden="true"></i> Wikipedia API</h4>
                  <i id="close4"class="fa fa-times-circle show" aria-hidden="true"></i>
                </div>
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <h4><a href="mailto:jamierkarlovich@gmail.com">jamierkarlovich@gmail.com</a></h4>
  </footer>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</body>
</html>
